################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/QAToolKit.Source.Swagger/bin
/src/QAToolKit.Source.Swagger/obj
/test/QAToolKit.Source.Swagger.Test/bin
/test/QAToolKit.Source.Swagger.Test/obj
